---
title: "A metaprogramming framework for formal verification"
collection: publications
permalink: /publication/2017-01-01-A-metaprogramming-framework-for-formal-verification
date: 2017-01-01
venue: 'Proc. ACM Program. Lang.'
paperurl: 'https://doi.org/10.1145/3110278'
citation: ' Gabriel Ebner,  Sebastian Ullrich,  Jared Roesch,  Jeremy Avigad,  Leonardo Moura, &quot;A metaprogramming framework for formal verification.&quot; Proc. ACM Program. Lang., 2017.'
---
[Access paper here](https://doi.org/10.1145/3110278){:target="_blank"}
